@model InboundInvoiceVM

@{
    ViewData["Title"] = "New Invoice";
}

<h4>Create Inbound Invoice</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="invoiceNumber" class="control-label"></label>
                <input asp-for="invoiceNumber" class="form-control" />
                <span asp-validation-for="invoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientName" class="control-label"></label>
                <input asp-for="clientName" class="form-control" />
                <span asp-validation-for="clientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoiceDate" class="control-label"></label>
                <input asp-for="invoiceDate" class="form-control" />
                <span asp-validation-for="invoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoiceNotes" class="control-label"></label>
                <input asp-for="invoiceNotes" class="form-control" />
                <span asp-validation-for="invoiceNotes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

