@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Inventory Management System is an application designed to alieviate the woes of dealing with asset management, shipping & receiving invoices,
        and overall inventory manipulation.
        <br />
        All encompassed within a dynamic web based UI for ease of use. No matter if on your local desktop or remotely from a smartphone.
        <br />
        IMS is designed to function anytime & anywhere.
    </p>
</div>
