@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Inventory Management System is an application designed to alieviate the woes of dealing with asset management, shipping & receiving invoices,
        and overall inventory manipulation.</p>
</div>
