@model ItemCategoryVM

@{
    ViewData["Title"] = "Details";
}

<h4>Category Details</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Edit</a>
</div>
