html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*CUSTOM CONFIGURATIONS*/

.hrThin {
    margin: -5px 15px -5px 15px;
}

.f12 {
    font-size: 12px;
}

.btnEdit {
    font-size: 10px;
    height: 20px;
    width: 20px;
    padding: 0px;
}

.btnDetails {
    font-size: 10px;
    height: 20px;
    width: 20px;
    padding: 0px;
}

.btnDelete {
    font-size: 10px;
    height: 20px;
    width: 20px;
    padding: 0px;
}

.shadow1 {
    box-shadow: 0px 0px 10px 3px #000000;
}

.algnStuuff {
    align-content: center;
}

/*  ....................  */
.draggable {
    width: 100px;
    /*height: 80px;*/
    /*padding: 5px;*/
    float: left;
    /*margin: 0 10px 10px 0;*/
    margin: 1px 1px 1px 1px;
    /*font-size: .7em;*/
    
}

.ui-draggable, ui-droppable {
    background-position: top;
}

.ui-widget-content {
    border: 3px solid #ffffff;
    /*background: #ffffff;*/
    background-color: pink;
    /*color: #333333;*/
}

.ui-draggable-handle {
    touch-action: none;
}

.divBlock {
    display: block;
}

element.style {
    position: relative;
    left: 102px;
    top: -18px;
}