@model InventoryItemVM

@{
    ViewData["Title"] = "New Item";
}

<h1>Create New Item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clientName" class="control-label"></label>
                <input asp-for="clientName" class="form-control" />
                <span asp-validation-for="clientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemName" class="control-label"></label>
                <input asp-for="itemName" class="form-control" />
                <span asp-validation-for="itemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inboundInvoice" class="control-label"></label>
                <input asp-for="inboundInvoice" class="form-control" />
                <span asp-validation-for="inboundInvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="outboundInvoice" class="control-label"></label>
                <input asp-for="outboundInvoice" class="form-control" />
                <span asp-validation-for="outboundInvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shipDate" class="control-label"></label>
                <input asp-for="shipDate" class="form-control" />
                <span asp-validation-for="shipDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemQty" class="control-label"></label>
                <input asp-for="itemQty" class="form-control" />
                <span asp-validation-for="itemQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemType" class="control-label"></label>
                <input asp-for="itemType" class="form-control" />
                <span asp-validation-for="itemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemCategory" class="control-label"></label>
                <input asp-for="itemCategory" class="form-control" />
                <span asp-validation-for="itemCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemModel" class="control-label"></label>
                <input asp-for="itemModel" class="form-control" />
                <span asp-validation-for="itemModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serialNumber" class="control-label"></label>
                <input asp-for="serialNumber" class="form-control" />
                <span asp-validation-for="serialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="partNumber" class="control-label"></label>
                <input asp-for="partNumber" class="form-control" />
                <span asp-validation-for="partNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemLocation" class="control-label"></label>
                <input asp-for="itemLocation" class="form-control" />
                <span asp-validation-for="itemLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemStatus" class="control-label"></label>
                <input asp-for="itemStatus" class="form-control" />
                <span asp-validation-for="itemStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemManufacturer" class="control-label"></label>
                <input asp-for="itemManufacturer" class="form-control" />
                <span asp-validation-for="itemManufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemNotes" class="control-label"></label>
                <input asp-for="itemNotes" class="form-control" />
                <span asp-validation-for="itemNotes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

