@model ItemModelVM

@{
    ViewData["Title"] = "Edit Model";
}

<h1>Edit Item Model</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="itemModel" class="control-label"></label>
                <input asp-for="itemModel" class="form-control" />
                <span asp-validation-for="itemModel" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>
                <input type="submit" value="Save" class="btn btn-warning btn-sm" />
            </div>
        </form>
    </div>
</div>
